body {
    background-color: #0d0d0d;
    color: #33ff33;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.14; /* Set transparency to 20% */
    z-index: -1; /* Ensure it stays behind the text */
    filter: blur(8px); /* Apply blur effect */
}

#input {
    flex-grow: 1;
    border: none;
    background-color: #1a1a1a;
    color: #33ff33;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    height: 1.5em; /* Adjust as necessary to fit design */
    border: none;
    border-right: 2px solid #33ff33;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
}

.input-icon {
    height: 1.5em;
    width: auto;
    margin-right: 5px;
}

#input.input-error {
    color: #ff3333; /* Red text for error input */
}

#input.input-success {
    color: #33ff33; /* Green text for successful input */
}

#input:focus {
    outline: none;
}

/* Blinking cursor effect */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.message-style {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1); /* Lighter shadow color */
    opacity: 0.70; /* Set transparency to 20% */
}

/* Styles for 'output-message' with enhanced bevel effect */
.output-message {
    color: #fff; /* White text for better contrast */
    background-color: #1a1a1a;
}

/* Styles for 'error-message' */
.error-message {
    color: #ff3333;
    background-color: #472525;
}

/* Style for the spacing element */
.spacing {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

#welcome-message {
    color: #33ff33;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px; /* Space between the message and the input box */
    position: relative; /* Add this to make it a positioning context */
    display: flex; /* Use flexbox for better alignment */
    align-items: center; /* Vertically center the contents */
    left: -1px;
}

.down-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #33ff33;
    position: absolute; /* Keeps it absolutely positioned */
    left: 30px; /* Updated left position */
    bottom: -9px; /* Adjust this to position the arrow below the message */
    transform: translateX(-50%); /* Center the arrow relative to the left position */
}